.NavItem {
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .NavItem a {
    color: white;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    padding: 16px 10px;
  }

  .NavItem a:hover,
  .NavItem a:active,
  .NavItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}